
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
h1 {
  color: white;
  text-align: left;
 
}



body {
	
  background-color: lightblue;
}



h1 { color: #111;

  



p {
  font-family: verdana;
  font-size: 50px;
}



